@import "icons.css";
@font-face {font-family: "Edmondsans Medium";
  src: url("../fonts/edmondsans-medium.eot"); /* IE9*/
  src: url("../fonts/edmondsans-medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/edmondsans-medium.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/edmondsans-medium.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: initial;
}
main {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

.button-without-styles {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
  outline: none;
}
.button-without-styles:focus {
  outline: none;
}
.hide {
  display: none;
}
.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.font-text {
  font-family:"Edmondsans Medium", sans-serif;
  color: #FFF;
  font-size: 16px;
}
.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s all ease-in-out;
  z-index: 2;
}
.navbar.fixed {
  position: fixed;
  background-color: rgba(56,56,56,0.9);
}
.navbar.active-mobile {
  background-color: rgba(56,56,56,0.9);
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.navbar__options-container {
  display: flex;
  align-items: center;
}
.navbar__flags {
  display: flex;
  margin-bottom: 15px;
  margin-right: 12px;
  gap: 8px;
}
.navbar__flags li {
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__flags li a {
  font-family:"Edmondsans Medium", sans-serif;
  color: #FFF;
  padding: 15px;
  position: relative;
  font-size: 14px;
}
.navbar__flags li a.active:hover {
  cursor: initial;
}
.navbar__flags li a.active {
  background: rgba(255, 255, 255, 0.1);
}
.button-menu-mobile {
  color: #FFF;
  font-size: 32px;
  padding: 10px 12px;
  cursor: pointer;
  margin-bottom: 13px;
}
.navbar__menu {
  height: 0;
  overflow: hidden;
  transition: all .5s ease-in-out;
  position: absolute;
  width: 100vw;
  top: 139px;
  left: -15px;
  background-color: rgba(56,56,56,0.9);
}
.navbar__menu.open {
  height: auto;
  padding: 15px 0;
}
.navbar__menu-options {
  padding: 0 15px;
}
.navbar__menu-options li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar__menu-options li a {
  color: #FFF;
  text-transform: capitalize;
  padding: 20px 0;
  position: relative;
}
.navbar__flags li a::after,
.navbar__menu-options li a::after {
  transition: .2s width ease-in-out;
  content: " ";
  height: 1px;
  width: 0;
  border-top: 1px solid #FFF;
  display: flex;
  margin-top: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.navbar__menu-options li a:hover::after,
.navbar__flags li a:not(.active):hover::after {
  width: 50%;
}
.navbar__menu-options li .link-button {
  position: relative;
}
.navbar__menu-options li .link-button a {
  display: block;
}
.navbar__menu-options li .link-button i {
  position: absolute;
  right: -35px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  color: #FFF;
  font-size: 12px;
}
.navbar__submenu {
  max-height: 0;
  overflow: hidden;
}
.navbar__menu-social-media {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}
.navbar__menu-social-media li a {
  color: #FFF;
  font-size: 24px;
  padding: 15px;
}
.open-submenu-mobile {
  animation-name: growSubMenu;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes growSubMenu {
  from { max-height: 0; }
  to { max-height: 200px; }
}
@media screen and (min-width: 1024px) {
  main.px-15,
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }
  .logo {
    width: 67px;
    height: 158px;
  }
  .button-menu-mobile {
    display: none;
  }
  .navbar__container {
    align-items: center;
  }
  .navbar__container,
  .content-container {
    max-width: 1156px;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar__menu {
    height: auto;
    position: static;
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: initial;
    gap: 32px;
  }
  .navbar__menu-options {
    display: flex;
    gap: 24px;
  }
  .navbar.active-mobile {
    background-color: transparent;
  }
  .navbar__options-container {
    flex-direction: column;
    align-items: flex-end;
  }
  .navbar__flags {
    margin: 8px 0 12px;
  }
  .navbar__menu-social-media li a {
    font-size: 18px;
  }
  .navbar__menu-options li {
    position: relative;
    justify-content: center;
  }
  .navbar__menu-options li a {
    padding: 15px 0;
  }
  .navbar__menu-options li .link-button i {
    display: none;
  }
  .navbar__menu-options li:hover .link-button + .navbar__submenu {
    padding: 5px;
    animation-name: growSubMenu;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  .navbar__submenu {
    background-color: rgba(56,56,56,0.9);
    width: 100%;
    position: absolute;
    top: 48px;
  }
  .navbar__submenu li a {
    font-size: 14px;
  }
  .navbar__menu-social-media {
    margin-top: 0;
  }
}